In [1]:
import warnings
warnings.simplefilter(action='ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_1517 = pd.read_csv('hotel_booking.csv').drop(columns=['name', 'email', 'phone-number', 'credit_card'])
df_18 = pd.read_csv('2018_hotel_revenue.csv')
df_19 = pd.read_csv('2019_hotel_revenue.csv')
df_20 = pd.read_csv('2020_hotel_revenue.csv')
df = pd.concat([df_1517, df_18, df_19, df_20])
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [11]:
df.to_csv('hotel_bookings_2015_2020.csv', index=False)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261337 entries, 0 to 40686
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           261337 non-null  object
 1   is_canceled                     261337 non-null  int64
 2   lead_time                       261337 non-null  int64
 3   arrival_date_year               261337 non-null  int64
 4   arrival_date_month              261337 non-null  object
 5   arrival_date_week_number        261337 non-null  int64
 6   arrival_date_day_of_month       261337 non-null  int64
 7   stays_in_weekend_nights         261337 non-null  int64
 8   stays_in_week_nights            261337 non-null  int64
 9   adults                          261337 non-null  int64
 10  children                        261325 non-null  float64
 11  babies                          261337 non-null  int64
 12  meal                            261337 non-null  object
 13  country                         260224 non-null  object
 14  market_segment                  261337 non-null  object
 15  distribution_channel            261337 non-null  object
 16  is_repeated_guest               261337 non-null  int64
 17  previous_cancellations          261337 non-null  int64
 18  previous_bookings_not_canceled  261337 non-null  int64
 19  reserved_room_type              261337 non-null  object
 20  assigned_room_type              261337 non-null  object
 21  booking_changes                 261337 non-null  int64
 22  deposit_type                    261337 non-null  object
 23  agent                           225442 non-null  float64
 24  company                         14922 non-null   float64
 25  days_in_waiting_list            261337 non-null  int64
 26  customer_type                   261337 non-null  object
 27  adr                             261337 non-null  float64
 28  required_car_parking_spaces     261337 non-null  int64
 29  total_of_special_requests       261337 non-null  int64
 30  reservation_status              261337 non-null  object
 31  reservation_status_date         261337 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 65.8+ MB

In [7]:
df['arrival_date_year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020])

In [10]:
df_1517['company'].value_counts(dropna=False)

NaN      112593
40.0        927
223.0       784
67.0        267
45.0        250
          ...
32.0          1
11.0          1
487.0         1
101.0         1
376.0         1
Name: company, Length: 353, dtype: int64